@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Poppins:wght@100;400&family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Poiret+One&family=Poppins:wght@100;400&family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --border-radius: 4rem;
    --container-width-height: var(--border-radius);
    --font-size: 2rem;
    --menu-item-color: #fff;
    --menu-item-hover-color: black;
}


.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


.menu-container {
    display: flex;
    justify-content: space-between;
    border-radius: var(--border-radius);
    padding: .5rem;
    background-color: #7a7a7a76;
    backdrop-filter: blur(5px);
    position: absolute;
    z-index: 99;
    top: 3%;
}

.plus {
    font-size: var(--font-size);
    font-weight: bolder;
    width: var(--container-width-height);
    height: var(--container-width-height);
    border-radius: 50%;
    background-color: orange;
    color: var(--menu-item-color);
    border: 4px solid black;
    transition: transform 1s ease-in-out;
    cursor: pointer;
    z-index: 99;
    color: #000;
}

/* active */
.menu-container.active .plus {
    transform: rotate(225deg);
}
/* active */

ul.menu {
    width: 0px;
    transition: width 1s ease-in-out;
}

ul.menu li.menu-item {
    list-style: none;
    margin: 0 1rem;
}

/* active */
.menu-container.active ul.menu {
    width: min(20rem, 70vw);
}
/* active */

li.menu-item a {
    text-decoration: none;
    visibility: hidden;
    opacity: 0;
    transition: opacity .5s ease-in-out;
    transition-delay: 1.1s;
}

/* active */
.menu-container.active li.menu-item a {
    visibility: visible;
    opacity: 1;
}
/* active */


li.menu-item a i {
    font-size: var(--font-size);
    /* color: var(--menu-item-color); */
    position: relative;
    color: #000;
}

li.menu-item a i::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: var(--menu-item-hover-color);
    bottom: -0.75rem;
    left: 0;
    transform: scaleX(0);
    transition: transform .25s ease-in-out;
}

li.menu-item a:hover i {
    /* color: var(--menu-item-hover-color); */
    color: #565656;
}

li.menu-item a:hover i::after {
    transform: scaleX(1);
}










* {
    font-family: 'Poiret One', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

#main {
    position: relative;
    overflow: hidden;
    z-index: 9;
}

#page {
    position: relative;
    height: 100vh;
    width: 100vw;
}

canvas {
    position: relative;
    height: 100vh;
    width: 100vw;
    z-index: 9;
}


#page>h1 {
    font-size: 4rem;
    position: absolute;
    z-index: 99;
    text-align: center;
    top: 38%;
    font-weight: 600;
    left: 50%;
    transform: translate(-50%, -50%);
}

#page>h4 {
    font-size: 2.2rem;
    position: absolute;
    text-align: center;
    top: 65%;
    font-weight: 600;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    color: #565656;
    width: 60vw;
}

@media (max-width: 1180px) {
    #page>h1 {
        font-size: 3.5rem;
        position: absolute;
        z-index: 99;
        text-align: center;
        top: 38%;
        font-weight: 600;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
    }
    
    #page>h4 {
        font-size: 2rem;
        position: absolute;
        text-align: center;
        top: 55%;
        font-weight: 900;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 99;
        color: #565656;
        width: 90%;
    }
}



@media (max-width: 580px) {
    #page>h1 {
        font-size: 2.2rem;
        position: absolute;
        z-index: 99;
        text-align: center;
        top: 38%;
        font-weight: 600;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    #page>h4 {
        font-size: 1.3rem;
        position: absolute;
        text-align: center;
        top: 50%;
        font-weight: 400;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 99;
        color: #565656;
    }
}

@media (max-width: 450px) {
    #page>h1 {
        font-size: 2rem;
        position: absolute;
        z-index: 99;
        text-align: center;
        top: 38%;
        font-weight: 600;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
    }
    
    #page>h4 {
        font-size: 1rem;
        position: absolute;
        text-align: center;
        top: 50%;
        font-weight: 400;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 99;
        color: #565656;
        width: 90%;
    }
}

@media (max-width: 350px) {
    #page>h1 {
        font-size: 1.5rem;
        position: absolute;
        z-index: 99;
        text-align: center;
        top: 38%;
        font-weight: 600;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
    }
    
    #page>h4 {
        font-size: 1rem;
        position: absolute;
        text-align: center;
        top: 50%;
        font-weight: 400;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 99;
        color: #565656;
        width: 90%;
    }
}

#page1 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #E5E1DC;
}

#page1>p>span {
    font-size: 3rem;
    font-weight: 600;
}

#page1>p {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1.5rem;
    z-index: 99;
    width: 70vw;
    max-width: 70vw;
    font-weight: 600;
    letter-spacing: .1rem;
    height: auto;
    min-height: 40vh;
    resize: both;
    overflow: auto;
}

@media (max-width: 1050px) {
    #page1>p>span {
        font-size: 2.5rem;
        font-weight: 600;
    }
    
    #page1>p {
        position: absolute;
        left: 50%;
        top: 60%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 1.5rem;
        z-index: 99;
        width: 70vw;
        max-width: 70vw;
        font-weight: 600;
        letter-spacing: .1rem;
        height: auto;
        min-height: 40vh;
        resize: both;
        overflow: auto;
    }
}



#page2 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: transparent;
}

#page3 {
    position: relative;
    z-index: 99;
    height: 100vh;
    width: 100vw;
    background-color: transparent;
}

#page4 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 99;
    height: 40vh;
    width: 100%;
    margin: auto;
    margin-top: 0;
    text-align: center;
    background-color: white;
}

#page4>h1 {
    font-weight: 600;
    font-size: 5vw;
    font-family: 'Homemade Apple', cursive;
}

@media (max-width: 1200px) {
    #page4 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        z-index: 99;
        height: 20vh;
        width: 100%;
        margin: auto;
        background-color: white;
        text-align: center;
    }
    
    #page4>h1 {
        font-weight: 600;
        font-size: 7vw;
        font-family: 'Homemade Apple', cursive;
    }
}

@media (max-width: 800px) {
    #page4 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        z-index: 99;
        height: 20vh;
        width: 100%;
        text-align: center;
    }
    
    #page4>h1 {
        font-weight: 600;
        font-size: 8vw;
        font-family: 'Homemade Apple', cursive;
    }
}


/* Page 5 About */

#page5 {
    position: relative;
    min-height: 100vh;
    width: 100vw;
    background-color: #fff;
}
#center-page5{
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 70%;
    width: 75%;
    border-radius: 2rem;
    background-color: #F6F3EF;
}
#left-page5{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
}


.containerImg {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .boxImg {
    margin: auto;
    width: 30vmin;
    height: 30vmin;
    border: 1px dashed black;
    position: relative;
  
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      border-radius: 50%;
      border: 1px dashed black;
      transform: scale(1.42);
    }
  }

  .spin-containerImg {
    width: 100%;
    height: 100%;
    animation: spin 12s ease-in-out infinite alternate;
    position: relative;
  }
  
  .shapeImg {
    width: 100%;
    height: 100%;
    transition: border-radius 1s ease-out;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    animation: morph 8s ease-in-out infinite both alternate;
    position: absolute;
    overflow: hidden;
    z-index: 5;
  }

  .bdImg {
    width: 142%;
    height: 142%;
    position: absolute;
    left: -21%;
    top: -21%;
    background: white;
    background-size: 100%;
    background-position: center center;
    display: flex;
    font-size: 5vw;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    animation: spin 12s ease-in-out infinite alternate-reverse;
    opacity: 1;
    z-index: 2;
  }

  .bdImg > img {
    height: 180px;
    object-fit: cover;
  }

  @keyframes morph {
    0% {
      border-radius: 40% 60% 60% 40% / 60% 30% 70% 40%;
    }
    100% {
      border-radius: 40% 60%;
    }
  }
  
  @keyframes spin {
    to {
      transform: rotate(1turn);
    }
  }





#right-page5{
    display: flex;
    align-items: start;
    gap: 30px;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
    padding-left: 60px;
}
#right-page5>h1{
    font-weight: 600;
}
#right-page5>h4{
    font-weight: 900;
    letter-spacing: .1rem;
    width: 70%;
}
#right-page5>a>button{
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    letter-spacing: .1rem;
    font-weight: 600;
    transition: all ease .3s;
}
#right-page5>a>button:hover {
    letter-spacing: .2rem;
    color: #000;
    background-color: orange;
    font-weight: 900;
}

@media (max-width: 1200px) {
    #center-page5{
        display: flex;
        align-items: center;
        position: absolute;
        height: 90%;
        width: 85%;
        border-radius: 2rem;
        background-color: #F6F3EF;
        flex-direction: column;
    }

    #left-page5{
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    #right-page5 {
        display: flex;
        align-items: center;
        padding: 0;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        width: 100%;
        
    }    
    #right-page5>h1{
        font-weight: 600;
        font-size: 4rem;
    }
    #right-page5>h4{
        font-weight: 900;
        letter-spacing: .1rem;
        width: 90%;
        font-size: 1.2rem;
    }
}

@media (max-width: 800px) {
    #center-page5{
        display: flex;
        align-items: center;
        position: absolute;
        height: 90%;
        width: 90%;
        border-radius: 2rem;
        background-color: #F6F3EF;
        flex-direction: column;
    }
    #left-page5{
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 40%;
        width: 100%;
    }
    #right-page5>h4{
        font-weight: 900;
        letter-spacing: .1rem;
        width: 90%;
    }
    #right-page5 {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        height: 60%;
        width: 100%;
        top: 0px;
    } 
    #right-page5>h1{
        font-weight: 600;
        font-size: 4rem;
    }
    #right-page5>h4{
        font-weight: 900;
        letter-spacing: .1rem;
        width: 90%;
        font-size: 1.2rem;
    }
}

@media (max-width: 480px) {
    .bdImg > img {
        height: 150px;
        object-fit: cover;
      }
      #left-page5{
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 35%;
        width: 100%;
    }
    #right-page5>h1{
        font-weight: 600;
        font-size: 3.8rem;
    }
    #right-page5>h4{
        font-weight: 900;
        letter-spacing: .1rem;
        width: 90%;
        font-size: 1.2rem;
    }
}

@media (max-width: 400px) {
    #center-page5{
        display: flex;
        align-items: center;
        position: absolute;
        height: 90%;
        width: 90%;
        border-radius: 2rem;
        background-color: #F6F3EF;
        flex-direction: column;
        overflow: hidden;
    }
    #left-page5{
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 30%;
        width: 100%;
    }
    .bdImg > img {
        height: 105px;
        object-fit: cover;
    }
    #right-page5>h1{
        font-weight: 600;
        font-size: 3rem;
    }
    #right-page5>h4{
        font-weight: 900;
        letter-spacing: .1rem;
        width: 90%;
        font-size: .8rem;
    }
}









/* Page 6 */

#page6 {
    width: 100%;
    height: auto;
    position: relative;
    background-color: #fff;
}

#moving-text {
    overflow-x: auto;
    white-space: nowrap;
    
}

#moving-text::-webkit-scrollbar {
    display: none;
}

.con {
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#moving-text h1 {
    font-size: 9vw;
    display: inline-block;
}

#gola {
    height: 5vw;
    width: 5vw;
    border-radius: 50%;
    display: inline-block;
    background-color: orange;
    margin: 1vw 2vw;
}

@keyframes move {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}












/* PAGE 7 CSS */

#page7 {
    width: 100%;
    height: 100vh;
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    transition: all ease 0.5s;
}

#page7 > #projects {
    text-decoration: underline;
    margin-bottom: 2rem;
    letter-spacing: .5rem;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.elem {
    width: 100%;
    position: relative;
    background-image: attr(data-img)
    
}

.elem > a > h2 {
    font-size: 4.2vw;
    color: white;
    position: relative;
    z-index: 9;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.elem:hover > a > h2 {
    font-style: italic;
    color: #000;
}

.elem > a {
    text-decoration: none;
}

.elem > .moving {
    width: 100%;
    white-space: nowrap;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%) scaleY(0);
    background-color: orange;
    transition: all ease 0.5s;
    border: none;
}

.elem:hover > .moving {
    transform: translate(0, -50%) scaleY(1);
}
.elem:hover > .moving > h5 {
    opacity: 1;
}

.blur {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to right, orange, orange, orange);
    box-shadow: 10px 0px 20px 20px orange, -10px 0px 20px 0px orange;
    border: none;
    z-index: 8;
}

.elem > .moving > .moving-in {
    display: inline-block;
    white-space: nowrap;
    animation-name: moving;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.elem > .moving > .moving-in > h5 {
    color: #000;
    display: inline-block;
    font-size: 1rem;
    margin-right: 2rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .1rem;
    font-family: "poppins";
    transition: all ease 0.5s;
}
@keyframes moving {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

@media (max-width: 1200px) {
    #page7 > #projects {
        text-decoration: underline;
        margin-bottom: 2rem;
        letter-spacing: .5rem;
        color: white;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
    .elem > a > h2 {
        font-size: 4.5vw;
        color: white;
        position: relative;
        z-index: 9;
        text-transform: uppercase;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        line-height: 11vh;
    }

}

@media (max-width: 800px) {
    .elem > a > h2 {
        font-size: 6vw;
        color: white;
        position: relative;
        z-index: 9;
        text-transform: uppercase;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    
        line-height: 11vh;
    }
}

@media (max-width: 500px) {
    .elem > a > h2 {
        font-size: 8vw;
        color: white;
        position: relative;
        z-index: 9;
        text-transform: uppercase;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    
        line-height: 11vh;
    }
}












/* Loader CSS */

#loader{
    height: 100%;
    width: 100%;
    background-color: #000;
    position: fixed;
    z-index: 999;
    top: 0;
    transition: all ease 0.7s;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loader h1{
    font-size: 7vw;
    color: transparent;
    background: linear-gradient(to right,orange,orangered);
    -webkit-background-clip: text;
    position: absolute;
    opacity: 0;
    animation-name: load;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: linear;
}
#loader h1:nth-child(2){
    animation-delay: 2s;
}
#loader h1:nth-child(3){
    animation-delay: 3s;
}

@keyframes load {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@media (max-width:600px) {
    #loader h1{
        font-size: 9vw;
      
    }
}












/* Orange Animation */

#hero-shape {
    position: absolute;
    width: 20vw;
    height: 26vw;
    right: 0;
    top: 10vh;
}

#hero-1 {
    background-color: #FE320A;
    height: 100%;
    width: 100%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(10px);
    position: absolute;
}

#hero-2 {
    background: linear-gradient(orange, orange);

    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    position: absolute;
    animation-name: anime2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    filter: blur(25px);
}

#hero-3 {
    background: linear-gradient(orange, orange);
    height: 30vw;
    position: absolute;
    width: 30vw;
    border-radius: 50%;
    filter: blur(25px);
    animation-name: anime1;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes anime1 {
    from {
        transform: translate(55%, -3%);
    }

    to {
        transform: translate(0%, 10%);
    }
}

@keyframes anime2 {
    from {
        transform: translate(5%, -5%);
    }

    to {
        transform: translate(-20%, 30%);
    }
}









/* Page 8 Contact Form */

#page8 {
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-container{
    height: 95%;
    width: 95%;
    border-radius: 2rem;
    background: #E4E0DD;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

.contact-container form{
    width: 55vw;
    height: 80%;
    display: flex;
    justify-content: center;
    box-shadow: 20px 20px 50px rgb(41, 41, 41);
    border-radius: 2rem;
    background: rgb(255, 145, 0);
    backdrop-filter: blur(10px);
    flex-wrap: wrap;
    overflow: hidden;
}

.contact-container form h1{
    color: #000;
    margin-top: 20px;
    width: 100%;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.contact-container form input{
    width: 40%;
    height: 3rem;
    padding-left: 10px;
    outline: none;
    border: none;
    background: none;
    border-bottom: .1rem solid #000;
    font-size: 1.2rem;
    color: #000;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

.contact-container form input::placeholder{
    color: black;
}

.contact-container form #lastName,
.contact-container form #mobile{
    margin-left: 20px;
}

.contact-container form textarea{
    background: none;
    border: none;
    border-bottom: 2px solid #000;
    color: #000;
    font-size: 1.2rem;
    padding: 10px;
    outline: none;
    min-width: 85%;
    max-width: 85%;
    min-height: 6rem;
    max-height: 6rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 1rem;
}

.contact-container form textarea::placeholder {
    color: #000;
}

textarea::-webkit-scrollbar{
    width: 1em;
}

textarea::-webkit-scrollbar-thumb{
    background-color: rgba(194,194,194,0.713);
}

.contact-container form #button{
    border: none;
    background: #fff;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 1.3rem;
    color: #000;
    width: 7rem;
    height: 2rem;
    padding: 0;
    margin-bottom: 2rem;
    transition: 0.3s ease;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;

}

.contact-container form #button:hover{
    color: white;
    background-color: #000;
    letter-spacing: .1rem;
    cursor: pointer;
}

.contact-container .contact-me {
    width: 30vw;
    height: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    padding: 2rem;
}

.contact-container .contact-me h3 {
    font-size: 1.3rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.contact-container .contact-me a {
    text-decoration: none;
    color: #000;
    font-size: 1.1rem;
    transition: all ease .5s;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.contact-container .contact-me a:hover {
    color: orangered;
    letter-spacing: .1rem;
}


@media (max-width: 1200) {
    .contact-container .contact-me h3 {
        font-size: .8rem;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
        margin-bottom: 2.2rem;
    }
}

@media (max-width: 1000px) {
    .contact-container{
        height: 100%;
        width: 95%;
        border-radius: 2rem;
        background: #E4E0DD;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        overflow: hidden;
        padding: 0;
    }
    .contact-container .contact-me {
        width: 100%;
        height: 30%;
        top: 0;
        display: grid;
        gap: 10%;
        grid-template-columns: repeat(3, 1fr);
        align-items: flex-start;
        flex-direction: column;
        padding: 2rem;
    }
    .contact-container .form-div {
        width: 100%;
        height: 60%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    .contact-container form{
        width: 80%;
        height: 90%;
        display: flex;
        justify-content: center;
        box-shadow: 20px 20px 50px rgb(41, 41, 41);
        border-radius: 2rem;
        background: rgb(255, 145, 0);
        backdrop-filter: blur(10px);
        flex-wrap: wrap;
        overflow: hidden;
    }
}

@media (max-width: 800px) {
    #page8 {
        height: 100vh;
        width: 100%;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contact-container .contact-me {
        width: 100%;
        height: 30%;
        top: 0;
        display: grid;
        gap: 10%;
        grid-template-columns: repeat(2, 1fr);
        align-items: flex-start;
        flex-direction: column;
        overflow: hidden;
    }
    .contact-container .contact-me h3 {
        font-size: 1rem;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
}

@media (max-width: 650px) {
    .contact-container .contact-me h3 {
        font-size: .8rem;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    .contact-container .contact-me a {
        text-decoration: none;
        color: #000;
        font-size: .8rem;
        transition: all ease .5s;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
}

@media (max-width: 460px) {
    #page8 {
        height: 120vh;
        width: 100%;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contact-container .contact-me {
        width: 100%;
        height: auto;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        overflow: hidden;
    }
    .contact-container .contact-me h3 {
        font-size: 1.3rem;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    .contact-container .contact-me a {
        text-decoration: none;
        color: #000;
        font-size: 1.3rem;
        transition: all ease .5s;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
}

@media (max-width: 420px) {
    .contact-container .contact-me h3 {
        font-size: 1rem;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    .contact-container .contact-me a {
        text-decoration: none;
        color: #000;
        font-size: 1rem;
        transition: all ease .5s;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    .contact-container form{
        width: 90%;
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 20px 20px 50px rgb(41, 41, 41);
        border-radius: 2rem;
        background: rgb(255, 145, 0);
        backdrop-filter: blur(10px);
        flex-wrap: wrap;
        overflow: hidden;
    }
    .contact-container form h1{
        color: #000;
        margin-top: 20px;
        width: 100%;
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.5rem;
    }
    
    .contact-container form input{
        width: 80%;
        height: 3rem;
        padding-left: 10px;
        outline: none;
        border: none;
        background: none;
        border-bottom: .1rem solid #000;
        font-size: 1.2rem;
        color: #000;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
    }
}

@media (max-width: 320px) {
    .contact-container .contact-me h3 {
        font-size: .8rem;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    .contact-container .contact-me a {
        text-decoration: none;
        color: #000;
        font-size: .8rem;
        transition: all ease .5s;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    .contact-container{
        height: 100%;
        width: 95%;
        border-radius: 2rem;
        background: #E4E0DD;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        overflow: hidden;
        padding: 0;
    }
}

@media (max-width: 280px) {
    .contact-container form h1{
        color: #000;
        margin-top: 20px;
        width: 100%;
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.2rem;
    }
}







/* Footer CSS */

#page9 {
    width: 100%;
    height: 100vh;
    cursor: pointer;
}


#footer {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: #000;
    color: #fff;
    z-index: 8;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    padding: 1vw 3vw;
}


#footer h1 {
  font-size: 15vw;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
  z-index: 9;
  text-align: center;
}

#footer-div {
    height: 20vh;
    width: 100%;
    background-color: red;
}

#footer-bottom {
    border-top: 2px solid #dadada;
    height: 10vh;
    width: 100%;
}


@media (max-width: 800px) {
    #footer h1 {
        font-size: 25vw;
        font-weight: 900;
        font-style: normal;
        text-transform: uppercase;
        z-index: 9;
        text-align: center;
      }
}

@media (max-width: 600px) {
    #footer h1 {
        font-size: 30vw;
        font-weight: 900;
        font-style: normal;
        text-transform: uppercase;
        z-index: 9;
      }
}

@media (max-width: 400px) {
    #footer h1 {
        font-size: 40vw;
        font-weight: 900;
        font-style: normal;
        text-transform: uppercase;
        z-index: 9;
    }
    #footer h2 {
        font-size: 1.1rem;
    }
}
